<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="../vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="box">
			<input v-model="message" /><button type="button" @click="add()">add</button>
			<ul v-show="list.length">
				<li v-for="(data,index) in list">{{data}}<button type="button" @click="del(index)">del</button></li>
			</ul>
			<div v-show="!list.length">待办事项空空如也</div>
		</div>
		<script type="text/javascript">
			new Vue({
				el:"#box",
				data:{
					list:["aaaaa","bbbbb","cccc"],
					message:"das",
				},
				methods:{
					add(){
						this.list.push(this.message);
						this.message="";
					},
					del(index){
					    this.list.splice(index,1);
					}
				
				},
			})
		</script>
	</body>
</html>
